
li {
  margin-right: ($spacer * .25) !important;
}

#nav_bar ul li a.active-page
{
  background-color:blue;
}

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);